# This .gitignore file should be placed at the root of your project directory
#
/mkstudios-airport-gcxo-workplace/_PackageInt/
/mkstudios-airport-gcxo-workplace/Packages/
Marketplace/mkstudios-airport-gcts.zip
Community/mkstudios-airport-gco.zip
Community/mkstudios-airport-gcxo-losrodeos.zip
mkstudios-airport-gcxo-workplace/mkstudios-airport-gcxo.xml.user
