#Image
*.jpg filter=lfs diff=lfs merge=lfs -text binary
*.jpeg filter=lfs diff=lfs merge=lfs -text binary
*.png filter=lfs diff=lfs merge=lfs -text binary
*.gif filter=lfs diff=lfs merge=lfs -text binary
*.psd filter=lfs diff=lfs merge=lfs -text binary
*.ai filter=lfs diff=lfs merge=lfs -text binary
*.tga filter=lfs diff=lfs merge=lfs -text binary
*.tif filter=lfs diff=lfs merge=lfs -text binary
*.raw filter=lfs diff=lfs merge=lfs -text binary
*.hdr filter=lfs diff=lfs merge=lfs -text binary
*.dds filter=lfs diff=lfs merge=lfs -text binary
*.tiff filter=lfs diff=lfs merge=lfs -text binary
*.tif filter=lfs diff=lfs merge=lfs -text binary
*.bgl filter=lfs diff=lfs merge=lfs -text binary
*.gltf filter=lfs diff=lfs merge=lfs -text binary
*.bmp filter=lfs diff=lfs merge=lfs -text binary
*.asc filter=lfs diff=lfs merge=lfs -text binary
*.tif filter=lfs diff=lfs merge=lfs -text binary
*.sbs filter=lfs diff=lfs merge=lfs -text binary
*.cgl filter=lfs diff=lfs merge=lfs -text binary
*.laz filter=lfs diff=lfs merge=lfs -text binary
#Audio
*.mp3 filter=lfs diff=lfs merge=lfs -text binary
*.wav filter=lfs diff=lfs merge=lfs -text binary
*.ogg filter=lfs diff=lfs merge=lfs -text binary
#Video
*.mp4 filter=lfs diff=lfs merge=lfs -text binary
*.mov filter=lfs diff=lfs merge=lfs -text binary
#3D Object
*.FBX filter=lfs diff=lfs merge=lfs -text binary
*.fbx filter=lfs diff=lfs merge=lfs -text binary
*.blend filter=lfs diff=lfs merge=lfs -text binary
*.obj filter=lfs diff=lfs merge=lfs -text binary
*.max filter=lfs diff=lfs merge=lfs -text binary
#ETC
*.a filter=lfs diff=lfs merge=lfs -text binary
*.exr filter=lfs diff=lfs merge=lfs -text binary
*.pdf filter=lfs diff=lfs merge=lfs -text binary
*.zip filter=lfs diff=lfs merge=lfs -text binary
*.dll filter=lfs diff=lfs merge=lfs -text binary
*.unitypackage filter=lfs diff=lfs merge=lfs -text binary
*.aif filter=lfs diff=lfs merge=lfs -text binary
*.ttf filter=lfs diff=lfs merge=lfs -text binary
*.rns filter=lfs diff=lfs merge=lfs -text binary
*.reason filter=lfs diff=lfs merge=lfs -text binary
*.lxo filter=lfs diff=lfs merge=lfs -text binary
#MSFS
*.xml filter=lfs diff=lfs merge=lfs -text binary
*.shp filter=lfs diff=lfs merge=lfs -text binary
*.prj filter=lfs diff=lfs merge=lfs -text binary
*.qmd filter=lfs diff=lfs merge=lfs -text binary
*.dbf filter=lfs diff=lfs merge=lfs -text binary
*.twf filter=lfs diff=lfs merge=lfs -text binary
*.bin filter=lfs diff=lfs merge=lfs -text binary
*.cfg filter=lfs diff=lfs merge=lfs -text binary